= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :itemId
    = f.text_field :itemId
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :globalId
    = f.text_field :globalId
  .field
    = f.label :subtitle
    = f.text_field :subtitle
  .field
    = f.label :categoryId
    = f.text_field :categoryId
  .field
    = f.label :categoryName
    = f.text_field :categoryName
  .field
    = f.label :galleryURL
    = f.text_field :galleryURL
  .field
    = f.label :galleryPlusPictureURL
    = f.text_field :galleryPlusPictureURL
  .field
    = f.label :viewItemURL
    = f.text_field :viewItemURL
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :shippingServiceCost
    = f.text_field :shippingServiceCost
  .field
    = f.label :shippingType
    = f.text_field :shippingType
  .field
    = f.label :shipToLocations
    = f.text_field :shipToLocations
  .field
    = f.label :currentPrice
    = f.text_field :currentPrice
  .field
    = f.label :convertedCurrentPrice
    = f.text_field :convertedCurrentPrice
  .field
    = f.label :bidCount
    = f.number_field :bidCount
  .field
    = f.label :startTime
    = f.datetime_select :startTime
  .field
    = f.label :endTime
    = f.datetime_select :endTime
  .field
    = f.label :listingType
    = f.text_field :listingType
  .actions
    = f.submit 'Save'
