.col-lg-4.col-sm-6.item
  - if item.galleryPlusPictureURL
    = link_to image_tag(item.galleryURL, alt: item.title, class: "img-circle img-responsive img-center"), item.galleryPlusPictureURL, "data-lightbox" => item.galleryPlusPictureURL, "data-title" => item.title
  - else
    = image_tag(item.galleryURL, alt: "No large image: #{item.title}", class: "img-circle img-responsive img-center")
  %h2
    %small{data:{no_turbolink: true}}= link_to item.title, item
  %h3
    %small.text-center{data:{no_turbolink: true}}= link_to item.categoryName, "#{items_path}/category/#{item.categoryName}"
  %ul
    %li
      %h4
        = "#{number_to_currency item.currentPrice, locale: "en"} + #{number_to_currency item.shippingServiceCost, locale: "en"}"
        %small= "(#{t('activerecord.attributes.item.shippingServiceCost')})"
      - if @rate && item.currentPrice && item.shippingServiceCost
        %h4
          %small= "#{t('activerecord.attributes.item.convertedCurrentPrice')}:"
          %b= number_to_currency (item.currentPrice + item.shippingServiceCost) * @rate
      - if item.bidCount
        %li= "#{t('activerecord.attributes.item.bidCount')}: #{item.bidCount} bid(s)"
      %li= "#{t('activerecord.attributes.item.listingType')}: #{item.listingType}"
      %li= "#{t('activerecord.attributes.item.endTime')}: #{item.endTime.strftime('%Y/%m/%d %H:%M')}"
      - unless item.seller.blank?
        %li
          = "#{t('activerecord.attributes.item.seller')}:"
          = link_to item.seller, "http://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&pub=5575129667&toolid=10001&campid=5337712152&customid=&mpre=http%3A%2F%2Fwww.ebay.com%2Fcsc%2F#{item.seller}%2Fm.html%3FLH_Complete%3D1%26_ipg%3D200%26_since%3D365%26_sop%3D13%26_rdc%3D1", target: :blank
  = link_to "ebay US", "http://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&pub=5575129667&toolid=10001&campid=5337712152&customid=&mpre=#{item.viewItemURL}", class: "btn btn-default btn-sm", target: :blank
  = link_to "Amazon US", "#{@amazon_associate_us}#{item.title}", class: "btn btn-default btn-sm", target: :blank
  = link_to "Amazon JP", "#{@amazon_associate_jp}#{item.title}", class: "btn btn-default btn-sm", target: :blank
